/*Utilidades*/
@import url(/SCSS/html/_home.scss);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables */
/* HTML*/
/* HOME */
/* Variables */
body {
  background-color: #ffffff;
}

h1 {
  font-family: "rethink sans";
  font-style: "initial";
  font-size: 3em;
  color: #004D73;
}

h2 {
  font-family: "rethink sans";
  font-style: "regular";
  font-size: 2em;
  color: #004D73;
  text-align: justify;
  text-align-last: center;
}

h3 {
  font-family: "rethink sans";
  font-style: "initial";
  font-size: 1em;
  color: rgb(255, 255, 255);
}

main {
  font: 1em;
  background-color: nth #004D73, #73b738, #ffffff, #000000, #c5c5c5, #479ba8, 1;
  color: aliceblue;
}

body {
  background-color: nth #004D73, #73b738, #ffffff, #000000, #c5c5c5, #479ba8, 1;
}

p {
  font-family: "rethink sans";
  font-style: "normal";
  font-size: 1em;
  color: #004D73;
}

main {
  gap: 100px;
}

header {
  background-color: #ffffff;
  display: flex;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 200;
}
header div {
  width: 100%;
  margin-left: 20px;
}
header div .LogoNombre {
  width: 20%;
  align-items: center;
}
header div .navbarbotones {
  display: flex;
  align-items: center;
  width: 70%;
}
header div nav div div ul li .hover-color:hover {
  background-color: #dbebfa;
}

#Logo {
  height: 75px;
  width: auto;
}

#Hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 10px 10px 10px;
  background: #ffffff;
  height: auto;
  margin: 10px 0px 100px 0px;
}
#Hero .portada {
  width: 40%;
}
#Hero .portada img {
  width: 100%;
  height: auto;
  margin-right: 100px;
}
#Hero div {
  margin-left: 100px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#Hero div h1 {
  font-size: 5em;
  text-align: left;
  max-width: 70%;
}
#Hero div p {
  width: 100%;
  text-align: center;
  max-width: 60%;
}
#Hero div a {
  display: flex;
  justify-content: center;
  width: 200px;
  padding: 8px 16px;
  text-decoration: none;
  border-radius: 32px;
  border: 1px solid #004D73;
  background-color: #ffffff;
  color: #004D73;
}
#Hero div a:hover {
  border: 1px solid #ffffff;
  background-color: #004D73;
  color: #ffffff;
}

.img-bannerhero {
  margin: 20px;
}

.BotoneraCategorias {
  position: relative;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 32px;
}

#BotonesCategorias {
  background-color: #ffffff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: auto;
  border-radius: 100px;
}

@keyframes agrandar_boton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1.5);
  }
}
#botonCategoria {
  border-radius: 32px;
}
#botonCategoria :hover {
  animation: agrandar_boton;
  animation-duration: 3s;
}

/*Testimonios*/
.TestimoniosCuerpo {
  display: flex;
  gap: 20px;
  padding: 10px 10px 10px 0px;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0px 0px 0px 0px;
  background: linear-gradient(to top, #004D73, #ffffff);
  border: 4px;
  border-image: radial-gradient(circle, #ffffff, #73b738) 1;
  border-image-slice: 1;
}
.TestimoniosCuerpo h2 {
  color: #004D73;
}

.Testimonios {
  display: flex;
  gap: 40px;
  margin-left: 0px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: #ffffff;
}

.Testimonio {
  align-items: center;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 32px;
  margin: 20px;
  padding: 10px;
  height: 450px;
}
.Testimonio h3 {
  font-size: 1.5em;
  color: #004D73;
  margin: 10px 10px 10px 10px;
}
.Testimonio p {
  color: #004D73;
  align-items: center;
}

.img-testimonio {
  width: auto;
  height: auto;
}

.redes {
  height: 50px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding: 10px;
  background: linear-gradient(to bottom, #004D73, #004D73);
}

footer {
  text-align: center;
  width: 100%;
  background-color: #004D73;
}
footer p {
  color: #ffffff;
}

/* Nosotros */
.nosotrosSeccion {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: auto;
  gap: 150px;
  padding: 25px;
  height: auto;
  background-color: #497abb;
}

.nosotrosHistoria {
  height: 300px;
}

.nosotrosSeccion iframe {
  height: 100%;
  width: 100%;
}

/* Contacto */
.datosContacto {
  padding: 0px 0px 100px 10px;
}

.formularioContacto {
  padding-right: 10px;
}

.contactoGrilla {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 10px;
  padding: 20px;
  justify-content: space-around;
}

.datosContacto {
  display: flex;
  flex-direction: column;
  gap: 40px;
  justify-content: center;
}

.botonenviar-bg {
  background-color: #008cd3;
  color: white;
}

.datosContacto div iframe {
  width: 50%;
  height: 100%;
}

/* Blog*/
.blogEntradas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
}

.entradaPrincipal {
  background-color: #dbebfa;
  width: auto;
  align-items: center;
  display: grid;
  padding: 20px;
  grid-template-columns: auto auto;
  justify-content: space-around;
  align-items: center;
}

.entradaPrincipal H2 {
  grid-column: 1;
  color: #006391;
  margin: 0px 25px 0px 50px;
}

.entradaPrincipal p {
  grid-column: 1;
  color: rgb(0, 53, 79);
  padding: 50px;
}

.entradaPrincipal img {
  grid-column: 2;
  width: 400px;
  padding: 10px;
}

.entradasAntiguas {
  background-color: #006391;
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 20px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.entradaBlog {
  padding: 10px;
  gap: 10px;
  margin: 10px;
  background-color: aliceblue;
}

.imgEntradaAntigua {
  width: 300px;
  height: auto;
  object-fit: cover;
}

@media ((max-width: 1024px)) {
  .entradasAntiguas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .entradaBlog {
    padding: 10px;
    gap: 10px;
    margin: 10px;
    background-color: aliceblue;
  }
  .entradaBlog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: "titulo " "parrafo" "imagen";
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .entradaBlog H2 {
    grid-area: titulo;
  }
  .entradaBlog p {
    grid-area: parrafo;
  }
  .imgEntradaAntigua {
    width: 300px;
    height: auto;
    object-fit: cover;
    grid-area: imagen;
  }
  .tituloSimple {
    text-align: center;
  }
}
/* Nuestros Servicios*/
.Servicios {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 3;
  padding: 20px;
  gap: 20px;
}

.ListadoServicios {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.ListadoServicios {
  list-style: none;
}

.tarjetaServicio {
  display: flex;
  flex-direction: column;
}

.imgServicio {
  height: 100px;
  width: 100px;
}

.servicioDetalle {
  display: flex;
  flex-direction: column;
}

.tituloSeccion {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 120px;
  justify-content: center;
}

/* Servicios */
.ListadoServicios {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: #004D73;
  padding: 20px;
}

.tarjetaServicio {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin: 25px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/*# sourceMappingURL=styles.css.map */
