    /* Blog*/

    .blogEntradas{

        display: flex;
        flex-direction: column;
        justify-content: center;
        width: auto;
        height: auto;

        .entradaPrincipal{
            background-color: nth($colors,6);
            width: auto;
            height: 40vh;
            align-items: center;
            display: flex;
            flex-direction: row;
            padding: 20px;
            justify-content: space-around;
            align-items: center;
            border-bottom:3px solid ;
            border-image: linear-gradient(to right, nth($colors,2), rgb(152, 254, 152), rgb(72, 202, 72) , nth($colors,2));
            border-image-slice: 1;
            box-shadow: 10px 10px 10px black;

            p{
                color: nth($colors,3);
                opacity: 70%;
                padding: 50px;
            }
            img {
                width: 50%;
                height: auto;
                padding: 10px;
                border-top-right-radius: 64px;
                border-bottom-left-radius: 64px;
                border-top-left-radius: 8px;
                border-bottom-right-radius: 8px;

            }

            H2{
                text-align:center;
                color: nth($colors,3);
            
            }
            
        }

        .entradasAntiguas {
    
            background-color: nth($colors,3);
            display: grid;
            grid-template-columns: auto auto auto;
            padding: 10px;
            justify-content: center;
            align-items: center;
            height: 200vh;
            
          

            .entradaBlog{
                display: flex;
                flex-direction: column;
                text-align:start;
                height: 55vh;
                padding: 5px;
                gap: 5px;
                margin: 10px;
                box-shadow: 10px 10px 10px;
                

                h2{
                    text-align: center;
                    font-size: 1.5em;
                    height: 30%;

                }

                p{
                    width: auto;
                    height: 30%;
                    text-align: center;
                    justify-content: center;

                }

                .imgEntradaAntigua{

                    height: 40% ;
                    align-items: center;
                    object-fit: cover ;
            
                }
                &:hover{
                    background-color: nth($colors,5)
                }

             }
        }
    }
    
    
