/* HOME */

@import "../utilidades/variables";

body{

    background-color: nth($colors ,3 ) ;
}


h1{
   @include font ("rethink sans", "initial", 3em, nth($colors,1));
    
}

h2{
    @include font ("rethink sans", "regular", 2em,nth($colors,1));
    text-align: justify;
    text-align-last: center;
}

h3{
    @include font ("rethink sans", "initial", 1em,rgb(255, 255, 255));
    text-align: justify;
    text-align-last: center;
}


main{
    font: 1em;
    background-color:nth ($colors, 3);
    
    
}

body{
    background-color:nth ($colors, 1);
}


p{
    @include font ("rethink sans", "normal", 1em,nth($colors,1));

}
 
main{
    gap:100px;
}




header{
    background-color: nth($colors,3);
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 200;
    
    div{
       width: 100%;
       margin-left: 20px;
     
        .LogoNombre{
            
            width: 20%;
            align-items: center;
            
        }

        .navbarbotones{

            display: flex;
            align-items: center;
            width: 70%;
            

        }

        nav{
            div{
                div{
                    ul{
                        li{
                            .hover-color:hover {

                                background-color: #dbebfa;
                            }
                        }
                    }
                }
            }
        }
    } 
} 
    

#Logo{
    height: 75px;
    width: auto;
}


#Hero {
   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    background: nth($colors,3);
    height: auto;
    margin: 10px 0px 100px 0px;
    

  .portada{
    width: 40%;
    
        img{
            
            width: 100%;
            height: auto;
            margin-right: 100px;
            }

            }

    div{ 
       
        margin-left: 100px;
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

     
     h1{
        font-size: 5em;
        text-align: left;
        max-width: 70%;
         
        }
    p{
        width: 100%;
        text-align: center;
        max-width: 60%;
        
        
        }

    a{
        display:flex;
        justify-content: center;
        width: 200px; 
        padding: 8px 16px;
        text-decoration: none;
        border-radius: 32px;
        border: 1px solid nth($colors,1);
        background-color:nth($colors,3);
        color:nth($colors,1);
        


            &:hover{
                border: 1px solid nth($colors,3);
                background-color:nth($colors,1);
                color:nth($colors,3);
            }

    }
    }
 
         
}
    
 

.img-bannerhero{

    margin:20px
}



.BotoneraCategorias
{
    position: relative;
    background-color: nth($colors, 3);
    border-top: 4px solid black;
    border-image: linear-gradient(to right, nth($colors, 2), nth($colors, 3),nth($colors, 2),nth($colors, 3),nth($colors, 2),nth($colors, 2));
    border-image-slice: 1;
    display: flex;
    flex-direction: column;
    padding-top:3vh ;
    margin: 10px 0px 10px 0px;
            #BotonesCategorias
                        {
                            background-color: transparent;
                            padding: 10px;
                            display: flex;
                            flex-direction: row;
                            justify-content: space-around;
                            gap: auto;
                            border-radius: 100px;

                                #botonCategoria{
                                    
                                    border-radius: 32px;
                                    
                                    :hover{
                                        animation: agrandar_boton;
                                        animation-duration: 1s;
                                    
                                    }
                                    
                                    }
    

                        }
    
}



@keyframes agrandar_boton{

    0% {transform: scale(1);}
    50%{transform: scale(1.25);}
    100%{transform: scale(1.5);}
}

/*Testimonios*/

.TestimoniosCuerpo {
    
    display: flex;
    gap: 20px ;
    padding: 10px 10px 10px 0px;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0px 0px 0px 0px;
    /*background: linear-gradient(to top, nth($colors,1), nth($colors,3));
    */
    background-color: nth($colors,1);
    border-image: radial-gradient(circle, nth($colors, 3), nth($colors, 2)) 1;
    border-image-slice: 1;


    h2{
        color: nth($colors,3);
    }
   
 }

 .testimoniosCuerpoMobile{ 
    display: none;
 }

.Testimonios {
    
   display: flex ;
   gap: 40px;
   margin-left: 0px;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   box-shadow: #ffffff;

}

.Testimonio{

    
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color:nth($colors,3);
    border-radius: 8px 32px 8px 32px;
    margin: 20px;
    padding: 10px;
    height: 450px;

        h3{
            font-size: 1em;
            color: nth($colors,1);
            margin: 10px 10px 10px 10px;
            display: none;
        
        }

        p{
            color: nth($colors,1);
            align-items: center;
            padding: 2vh;
        }

        .img-testimonio{
            @include sizes (auto,auto);
            padding: 1vh;
           
         }
 }



.redes {
    height: 50px;
    width: 100%;
    text-align: center ;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 10px;
    background: linear-gradient(to bottom,nth($colors,1),nth($colors,1));
}


footer{

    display: flex;
    flex-direction: column;
    gap: 2vh;
    text-align: center;
    width: 100%;
    height: auto;
    padding:12px ;
    gap: 4vh;
    background-color: nth($colors,1);

    p{
        color: #ffffff;
    }

    .redesFooter{

        height: 6vh;

        h3{
            color:nth($colors,3);
        }

        img{
            height: 6vh;
            object-fit: cover;
            align-items: center;
            justify-content: center;
        }
    }

   


}

