
@media only screen and (max-width: 663px)  {

 /* Home */
    
 header{
    background-color: nth($colors,3);
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    position: sticky;
    top:0;
    z-index: 200;
    
    div{
       width: 100%;
       margin-left: 20px;
     
        .LogoNombre{
            
            width: 20%;
            align-items: center;
            
        }

        .navbarbotones{

            display: flex;
            width: 70%;
            justify-content: flex-end;

            

        }

        nav{
            div{
                div{
                    ul{
                        li{
                            .hover-color:hover {

                                background-color: #dbebfa;
                            }
                        }
                    }
                }
            }
        }
    } 
} 

    body{
        background-color: #ffffff;
    
}

#Hero {
   
    display: flex;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    height: 50vh;
    margin: 0px 0px 0px 0px;
    background-color: nth($colors,1);
    animation: cambioColor 15s infinite;

    @keyframes cambioColor {
        0% {background-color: nth($colors,1);}
        10%{ background-color: nth($colors,6);}
        50% {background-color: nth($colors,2);}
        75% {background-color: nth($colors,1);}
       100% {background-color: nth($colors,6);}


    }  

  .portada{
    width: 0%;
    
        img{
    
           display: none;
            }

            }

    div{ 
       
        margin-left: 100px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

     
     h1{
        font-size: 5em;
        color: #ffffff;
        width:600px;
        text-align: center;
        max-width: 70%;
         
        }
    p{
        width: 100%;
        text-align: center;
        max-width: 60%;
        color: #ffffff;
        
        
        }

  
    }
 
         
}
    

.BotoneraCategorias
{
    gap: 2vh;
    margin: 0vh 0px 0vh 0px;
    padding: 2vh 0px 4vh 0px;
    background-color: nth($colors,3);
    border-radius: 0px;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    border-image: linear-gradient(to right, nth($colors, 2), nth($colors, 3),nth($colors, 2),nth($colors, 3),nth($colors, 2),nth($colors, 2));
    border-image-slice: 1;
   

    h2{
        color: nth($colors,6);
    }

    #BotonesCategorias
    {
       
        background-color:transparent;
        flex-direction: row;
        overflow-x: auto;
        scroll-snap-type: x mandatory;
        justify-content: start;
        align-items: start;
        gap: 10vw;
        border-radius: 0px;
        margin-left: 4vw;
        margin-right: 4vw;

        
        #botonCategoria{
                                 
            padding: 12px;
            border-radius: 32px;
            border: 1px solid nth($colors,2);
            scroll-snap-align: start;
           
            
            :hover{
                animation: agrandar_boton;
                animation-duration: 3s;
            
            }
            
            }
       
    }
}



/*Testimonios*/
/*
.TestimoniosCuerpo {
    
    display: flex;
    padding: 10px 10px 10px 0px;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    background: nth($colors,3);
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    


    h2{
        display: none;
        color: nth($colors,3);
        font-size: 2.5em;
        justify-content: center;
        align-self: center;
        text-align: center;
    }
   
 }


.Testimonios {
    
   display: flex ;
   flex-direction: row;
   height: 35vh;
   gap: 0px;
   animation: cambioOrden 10s infinite;


@keyframes cambioOrden {

    0%{order:1}
    50%{order:2}
    100%{order:3}
   
    }

    .Testimonio{
        
        align-items: center;
        text-align: center;
        background-color:nth($colors,3);
        border: 0px solid nth($colors,1);
        border-image-slice: 1;
        border-radius: 0px;
        margin: 0px;
        gap: 0px;
        padding: 2vw;
        width: 100vw;
        height: 35vh;


            h3{
            display: none;
            }

            p{
                color: nth($colors,1);
                align-items: center;
            }

            .img-testimonio{
                @include sizes (auto,auto)
            
            }
    }

}
*/

/*Testimonio para mobile y tablet carrusel*/

.TestimoniosCuerpo{
    display: none;
}

.testimoniosCuerpoMobile{
    display: block;
    height: 40vh;
    padding: 10px ;
    margin: 0px;
    background-color: nth($colors,3);

    .testimoniosMobile {


        .testimonioMobile {
                        
            gap: 200px;

                        img{   
                            padding: 10px;
                            height: 20vh ;
                            object-fit: contain;

                        }

                        p {
                            margin:1vh;
                            padding: 5vw ;
                            justify-content: center;
                            text-align: center;
                            }

                        h3 {
                        font-size: 2em;
                        background-color: red;
                        display: none;
                            }
                }
    }
    

}

.redes {
    height: 50px;
    width: 100%;
    text-align: center ;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    padding: 10px;
    background: linear-gradient(to bottom,nth($colors,1),nth($colors,1));
}


footer{

    text-align: center;
    width: 100%;
    background-color: nth($colors,1);

    p{
        color:nth($colors,3);
    }
 }


/* Blog */

.blogEntradas{

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: auto;
    height: auto;

    .entradaPrincipal{
        background-color: nth($colors,6);
        width: auto;
        height: 35vh;
        align-items: center;
        display: flex;
        flex-direction: row;
        padding: 20px;
        justify-content: space-around;
        align-items: center;
        border-bottom:2px solid ;
        border-image: linear-gradient(to right, nth($colors,2), rgb(152, 254, 152), rgb(72, 202, 72) , nth($colors,2));
        border-image-slice: 1;
        box-shadow: 0px 0px 0px black;

        p{
            color: nth($colors,3);
            opacity: 100%;
            padding: 10px;
            height: 100px;
            text-align: left;
            justify-content: left;
        }

        img {
            width: 50%;
            height: auto;
            padding: 10px;
            border-top-right-radius: 64px;
            border-bottom-left-radius: 64px;
            border-top-left-radius: 8px;
            border-bottom-right-radius: 8px;

        }

        H2{
            
            height: auto;
            padding: 10px;
            font-size: 1.5em;
            color: nth($colors,3);
        
        }
        
    }

    .entradasAntiguas {

        background-color: nth($colors,3);
        display: flex;
        flex-direction: column;
        height: auto;
        height: auto;
    
        
        .entradaBlog{
            display: grid;
            grid-template-columns: 50% 50% ;
            grid-template-rows: auto auto;
            align-items: center;
            gap: 0px;
            margin:0px;
            padding:10px;
            height: auto;
            box-shadow: 0px 0px 0px;
            border-bottom:3px solid rgb(192, 255, 176);
          
            

            h2, p{
                grid-column: 2;
                order:2;
                align-items: center;
                justify-content: left;
                align-self: center;
                width: auto;
                margin:0px;
                padding: 1vh;    
            }
            h2{
                font-size: 1.25em;
                height: auto;
            }
            p{
                font-size: .90em;
                overflow: hidden;
                text-overflow: ellipsis;
                height: 15vh;

            }

            .imgEntradaAntigua{
                order:1;
                grid-row: span 2;
                width: 100%;
                height: auto;
                align-items: center;
                grid-column: 1;
                padding: 4vw;
            }
            &:hover{
                background-color: nth($colors,5)
            }

         }
    }
} 


}