@media only screen and (min-width: 664px) and (max-width: 1024px) {

header{
}


body{

   
}

#Hero {
   
    display: flex;
    background-color: transparent;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    height: 50vh;
    margin: 0px 0px 0px 0px;
    background-color: nth($colors,1);
    animation: cambioColor 15s infinite;

    @keyframes cambioColor {
        0% {background-color: nth($colors,1);}
        10%{ background-color: nth($colors,6);}
        50% {background-color: nth($colors,2);}
        75% {background-color: nth($colors,1);}
       100% {background-color: nth($colors,6);}


    }  

  .portada{
    width: 0%;
    
        img{
    
           display: none;
            }

            }

    div{ 
       
        margin-left: 100px;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

     
     h1{
        font-size: 5em;
        color: #ffffff;
        width:600px;
        text-align: center;
        max-width: 70%;
         
        }
    p{
        width: 100%;
        text-align: center;
        max-width: 60%;
        color: #ffffff;
        
        
        }

  
    }
 
         
}


.BotoneraCategorias{
    border-radius: 0px;
    margin: 0px;
    padding: 20px;
    border-top: 4px solid black;
    border-image: linear-gradient(to right, nth($colors, 2), nth($colors, 3),nth($colors, 2),nth($colors, 3),nth($colors, 2),nth($colors, 2));
    border-image-slice: 1;
}

/*Testimonio para mobile y tablet carrusel*/

.TestimoniosCuerpo{
    display: none;
}

.testimoniosCuerpoMobile{
    display: block;
    height: 40vh;
    padding: 10px ;
    margin: 10px;

    .testimoniosMobile {


        .testimonioMobile {
                        
            gap: 200px;

                        img{   
                            padding: 10px;
                            height: 20vh ;
                            object-fit: contain;

                        }

                        p {
                            margin:1vh;
                            padding: 5vw ;
                            justify-content: center;
                            text-align: center;
                            }

                        h3 {
                        font-size: 2em;
                        background-color: red;
                        display: none;
                            }
                }
    }
    

}

}