/* Variables */


$colors: #004D73 , #73b738 , #ffffff, #000000, #c5c5c5, #3b668c, #98bb7a;

@mixin sizes($width, $height){
    width: $width;
    height: $height;
}

@mixin font ($f-family, $f-style, $f-size, $f-color) {

    font-family: $f-family;
    font-style: $f-style;
    font-size: $f-size;
    color: $f-color;
}
